# editorconfig file, can be used for example with VS extension
# https://github.com/editorconfig/editorconfig-visualstudio

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
